<!DOCTYPE html>
<html>
<script type="text/javascript">
    var filter = "win16|win32|win64|mac";

    if(navigator.platform){
        if(0 > filter.indexOf(navigator.platform.toLowerCase())){
            document.location = "/m"
        }else{
            // alert("PC");
        }
    }
</script>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style-desktop.css"/>
</head>

<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"></span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <div class="demo-avatar-dropdown">
                <span>hello@example.com</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li class="mdl-menu__item">hello@example.com</li>
                    <li class="mdl-menu__item">info@example.com</li>
                    <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
                </ul>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="">
                <i class="mdl-color-text--blue-grey-400 material-icons"
                   role="presentation">home</i>Home
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <!-- content -->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
                <div class="mdl-card mdl-shadow--2dp header-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><%= data.account_total_count %></h2>
                    </div>
                    <div class="mdl-card__supporting-text"><%= '총 인원' %></div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <div class="mdl-card mdl-shadow--2dp header-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><%= data.score_max.toFixed(2) %></h2>
                    </div>
                    <div class="mdl-card__supporting-text"><%= '최고점수' %></div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <div class="mdl-card mdl-shadow--2dp header-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><%= data.total_avg.toFixed(2) %></h2>
                    </div>
                    <div class="mdl-card__supporting-text"><%= '총 평균' %></div>
                </div>
            </div>
            <% for(var i = 0 ; i < data.sex_avg.length ; ++i) { %>
            <div class="mdl-cell mdl-cell--1-col">
                <div class="mdl-card mdl-shadow--2dp header-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><%= data.sex_avg[i].avg.toFixed(2) %></h2>
                    </div>
                    <div class="mdl-card__supporting-text"><%= (data.sex_avg[i].sex == 0) ? '남자 평균' : '여자 평균' %></div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-average">
                    <thead>
                        <tr>
                            <th>순위</th>
                            <th class="mdl-data-table__cell--non-numeric">이름</th>
                            <th>평균 점수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0 ; i < data.top_avg.length ; ++i) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td class="mdl-data-table__cell--non-numeric"><%= data.top_avg[i].name %></td>
                            <td><%= data.top_avg[i].avg.toFixed(2) %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-average">
                    <thead>
                        <tr>
                            <th>순위</th>
                            <th class="mdl-data-table__cell--non-numeric">이름</th>
                            <th>최고 점수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0 ; i < data.rank_maximum.length ; ++i) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td class="mdl-data-table__cell--non-numeric"><%= data.rank_maximum[i].name %></td>
                            <td><%= data.rank_maximum[i].score %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mdl-grid">
        </div>
    </main>
</div>
</body>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</html>