<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>



<body>
<%-  include header.ejs %>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="ct-chart"></div>
    <div class="main_sub_title">동호회 평균</div>
    <table class="sub_title_tbl">
        <% for(var i = 0 ; i < data.sex_avg.length ; ++i) { %>
        <tr>
            <td><%= (data.sex_avg[i].sex == 0) ? '남' : '여' %></td>
            <td><%= data.sex_avg[i].avg %></td>
        </tr>
        <% } %>
    </table>

    <div class="main_sub_title">에버지리 상위 랭커</div>
    <table class="sub_title_tbl">
        <% for(var i = 0 ; i < data.top_avg.length ; ++i) { %>
        <tr>
            <td><%= data.top_avg[i].name %></td>
            <td><%= data.top_avg[i].avg %></td>
        </tr>
        <% } %>
    </table>
</div>
</body>
</html>