<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<script>
    $(document).ready(function(){
        var score = 100;
        $('#cur_score').text(score);

        $('#session_ok').hide();
        $('#no_session').hide();
        <% if(!session) {%>
            $('#session_ok').hide();
            $('#no_session').show();
        <%}else {%>
        $('#session_ok').show();
        $('#no_session').hide();
        <% } %>

        $('.btnstyle1').click(function(){
            score += parseInt($(this).attr('val'));
            if(score < 0 ) score = 0;
            if(score > 300 ) score = 300;
            $('#cur_score').text(score);
        })

        $('#input_score').click(function(){
            var curDate = $('#datepicker').datepicker({dateFormat: 'yy-mm-dd'}).val();
            $.post("/proc_async_DBCall/insertscore", {user_id:'<%- session %>', regdate: curDate, score: score, type:2}, function(data) {
                if( data.ret == -1 ) {
                    $('#alert_message').html('입력에 실패 했습니다.');
                    setTimeout(function(){
                        $('#alert_message').html('');
                    }, 2000);
                }
                else {
                    $('#alert_message').html('입력 성공!');
                    setTimeout(function(){
                        $('#alert_message').html('');
                    }, 2000);

                    $.post("/proc_async_DBCall/loadscore", {user_id:'<%- session %>'}, function(data) {
                        if(data.ret == -1) {
                            $('#alert_message').html('데이터 로딩에 실패 했습니다.');
                            setTimeout(function(){
                                $('#alert_message').html('');
                            }, 2000);
                        }
                        else {
                            $('#record_list').html('');
                            // 리스트 갱신
                            var html = '<table style="width: 200px; margin:auto;">';
                            html += '<tr style="height: 30px;">';
                            html += '<td>날짜</td>';
                            html += '<td>점수</td>';
                            html += '</tr>';
                            for(var i = 0 ; i < data.list.length ; ++i) {
                                html += '<tr>';
                                html += '<td>' + data.list[i].regdate + '</td>';
                                html += '<td>' + data.list[i].score + '</td>';
                                html += '</tr>';
                            }
                            html += '</table>';
                            $('#record_list').html(html);
                        }
                    })
                }

            });
        })

        var queryDate = new Date(); // Mon 이 0부터 시작함
        $('#datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });

        $.post("/proc_async_DBCall/loadscore", {user_id:'<%- session %>'}, function(data) {
            if(data.ret == -1) {
                $('#alert_message').html('데이터 로딩에 실패 했습니다.');
                setTimeout(function(){
                    $('#alert_message').html('');
                }, 2000);
            }
            else {
                $('#record_list').html('');
                // 리스트 갱신
                var html = '<table style="width: 200px; margin:auto;">';
                html += '<tr style="height: 30px;">';
                html += '<td>날짜</td>';
                html += '<td>점수</td>';
                html += '</tr>';
                for(var i = 0 ; i < data.list.length ; ++i) {
                    html += '<tr>';
                    html += '<td>' + data.list[i].regdate + '</td>';
                    html += '<td>' + data.list[i].score + '</td>';
                    html += '</tr>';
                }
                html += '</table>';
                $('#record_list').html(html);
            }
        })

        $('#datepicker').datepicker('setDate', queryDate);
    });
</script>

<body>
<%-  include header.ejs %>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div id="no_session">
        로그인이 필요합니다.
    </div>
    <div id="session_ok">
        <div><p>이곳에는 개인 기록만 저장할 수 있습니다</p></div>
        <div id="alert_message"></div>
        <div id="datepicker" style="margin: auto; width:80%;"></div>
        <div id ="cur_score" class="big_number">0</div>
        <div style="margin:auto;">
            <btn_num class="btnstyle1" val="-1">-1</btn_num>
            <btn_num class="btnstyle1" val="-10">-10</btn_num>
            <btn_num class="btnstyle1" val="-100">-100</btn_num>
            <btn_num class="btnstyle1" val="+1">+1</btn_num>
            <btn_num class="btnstyle1" val="+10">+10</btn_num>
            <btn_num class="btnstyle1" val="+100">+100</btn_num>
        </div>
        <br><div id="input_score" class="btn_submit">입력</div>

        <div>기록 확인(최신순)</div>
        <div id="record_list">
        </div>
    </div>
</div>
<%-  include footer.ejs %>
</body>
</html>