<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/str_style.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

<body>
<script>

    function showgraph(elemname, data){
        new Chartist.Line(elemname, {
            series: [
                data
            ]
        }, {
            fullWidth: true,
            chartPadding: {
                right: 40
            }
        });
    }

    $(document).ready(function(){
        $('#loginform').submit(function(){
            if( $('#loginform #user_id').val() == '' || $('#loginform #user_pwd').val() == '' ) {
                alert('아이디 또는 비밀번호를 입력 해 주세요');
                return false;
            }

            $.post("/checkpwd", {user_id:$('#loginform #user_id').val(), user_pwd:$('#loginform #user_pwd').val(), return_url:'/m/myinfo'}, function(data) {
               if( data.ret == -1 ) {
                   $('#alert_message').html('아이디 또는 비번이 잘못 되었습니다.');
               }
               else {
                   location.reload();
               }

            });

            return false;
        })


        $('#btn_league').click(function(){
            $('#content').html($('#league').html());
            showgraph('.ct-chart', club_record);
        })

        $('#btn_individual').click(function(){
            $('#content').html($('#individual').html());
            showgraph('.ct-chart-individual', individual_record);
        })

        var data = [];
        <% for(var i = club_record.length-1 ; i >= 0  ; --i) { %>
            if(data.length < 10) {
                data.push(<%- club_record[i].score %>);
            }
        <% } %>

        var data_individual = [];
        <% for(var i = individual_record.length-1 ; i >= 0  ; --i) { %>
        if(data_individual.length < 10) {
            data_individual.push(<%- individual_record[i].score %>);
        }
        <% } %>

        $('#league').hide();
        $('#individual').hide();
        $('#content').html($('#league').html());
        showgraph('.ct-chart', data);
    });
</script>
<%-  include header.ejs %>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <% if(!session) {%>
    <div id="no_session">
        <p><a href="/m/login">로그인 하러 가기</a></p>
    </div>
    <%}else {%>
    <div id="myinfo_menubar">
        <a id="btn_league">동호회 기록</a> |
        <a id="btn_individual">개인 기록</a>
    </div>
    <div id="content"></div>
    <div id="league">
        <% if(club_record.length == 0) {%>
        <div>기록이 없습니다. 볼링장 ㄱㄱ싱?</div>
        <%}else {%>
        <table class="type08">
            <thead>
            <tr>
                <th>평균점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= avg %></td>
            </tr>
            </tbody>
        </table>
        <div class="demo-1"><h2>최근 게임 그래프</h2></div>
        <div class="ct-chart"></div>
        <div class="demo-1"><h2>최근 게임 기록표</h2></div>
        <table  class="type08">
            <thead>
            <tr style="height: 30px;">
                <th>날짜</th>
                <th>점수</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0 ; i < club_record.length ; ++i) { %>
            <tr>
                <td><%= club_record[i].regdate %></td>
                <td><%= club_record[i].score %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
    </div>

    <br>
    <div id="individual">
        <% if(individual_record.length == 0) {%>
        <div>기록이 없습니다. 볼링장 ㄱㄱ싱?</div>
        <%}else {%>
        <p style="color:#830000; font-weight: bold;">총 에버리지 : <%= avg_individual %>점</p>
        <div class="demo-1"><h2>최근 게임 그래프</h2></div>
        <div class="ct-chart-individual"></div>
        <div class="demo-1"><h2>최근 게임 기록표</h2></div>
        <table class="type08">
            <thead>
            <tr style="height: 30px;">
                <th>날짜</th>
                <th>점수</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0 ; i < individual_record.length ; ++i) { %>
            <tr>
                <td><%= individual_record[i].regdate %></td>
                <td><%= individual_record[i].score %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
    <%}%>
</div>
<%-  include footer.ejs %>
</body>

</html>