<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

<script>
    $(document).ready(function(){
        $('#av_rank').hide();
        $('#max_rank').hide();
        $('#att_rank').hide();
        $('#btn_avg').click(function(){
            $('#content').html($('#av_rank').html());
        })

        $('#btn_max').click(function(){
            $('#content').html($('#max_rank').html());
        })

        $('#btn_attend').click(function(){
            $('#content').html($('#att_rank').html());

        })

        $('#content').html($('#av_rank').html());
    })
</script>

<body>
<%-  include header.ejs %>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div id="ranking_menubar" style="margin-bottom: 10px;">
        <a id="btn_avg">동호회 기록</a> |
        <a id="btn_max">개인 기록</a> |
        <a id="btn_attend">출석 기록</a>
    </div>
    <div id="content">

    </div>
    <div id="av_rank">
        <table class="type08">
            <thead>
                <tr style="height: 30px;">
                    <th>순위</th>
                    <th>이름</th>
                    <th>평균 점수</th>
                </tr>
            </thead>
            <tbody>
            <% var rank = 1;
            for(var i = 0 ; i < data.length ; ++i) { %>
            <tr>
                <th><%= rank %></th>
                <td <% if(i % 2 == 1) {%> class="even" <%}%> ><%= data[i].name %></td>
                <td <% if(i % 2 == 1) {%> class="even" <%}%> ><%= data[i].avgscore %></td>
            </tr>
            <% rank++;
            } %>
            </tbody>
        </table>
    </div>
    <div id="max_rank">
        <table class="type08">
            <thead>
            <tr style="height: 30px;">
                <th>순위</th>
                <th>이름</th>
                <th>최고 점수</th>
            </tr>
            </thead>
            <tbody>
            <% var rank = 1;
            for(var i = 0 ; i < data_max.length ; ++i) { %>
            <tr>
                <th><%= rank %></th>
                <td <% if(i % 2 == 1) {%> class="even" <%}%> ><%= data_max[i].name %></td>
                <td <% if(i % 2 == 1) {%> class="even" <%}%> ><%= data_max[i].score %></td>
            </tr>
            <%  rank++;
            } %>
            </tbody>
        </table>
    </div>
    <div id="att_rank">
        <table class="type08">
            <thead>
                <tr style="height: 30px;">
                    <th>순위</th>
                    <th>이름</th>
                    <th>출석 횟수</th>
                </tr>
            </thead>
            <tbody>
                <% var rank = 0; prev_val = 0; stack = 0;
                for(var i = 0 ; i < data_attend.length ; ++i) {
                    if( prev_val == data_attend[i].cnt ) {
                        stack++;
                    }
                    else {
                        rank += stack;
                        stack = 0;
                        rank++;
                    }
                %>
                <tr>
                    <th><%= rank %></th>
                    <td <% if(i % 2 == 1) {%> class="even" <%}%> ><%= data_attend[i].name %></td>
                    <td <% if(i % 2 == 1) {%> class="even" <%}%> ><%= data_attend[i].cnt %></td>
                </tr>
                <%
                    prev_val = data_attend[i].cnt;
                } %>
            </tbody>
        </table>
    </div>

</div>
<%-  include footer.ejs %>
</body>

</html>